@import url("https://fonts.cdnfonts.com/css/opendyslexic");

/* Application des règles de police */
::selection {
  background-color: #3f3d56;
  color: aliceblue;
}

h1, h5 {
  display: inline-block;

  background: linear-gradient(
      to top,
      transparent 10%,
      rgba(228, 156, 43, 1) 16.01%,
      rgba(228, 156, 43, 0.8) 45.01%,
      transparent 40%
    )
    no-repeat;
}

* {
  font-family: "OpenDyslexic", sans-serif !important;
}

h2 {
  font-family: "OpenDyslexic3", sans-serif !important;
}

p {
  font-family: "OpenDyslexicAlta", sans-serif !important;
}

code {
  font-family: "OpenDyslexicMono", sans-serif !important;
}
