body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[aria-hidden="true"] {
    display: none;
  }

.round{
    background: white;
    border: 1px solid black;
    border-radius:100%;
    color: #86C232;
    padding: 10%;
    display: flex;
    margin: 3%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* s11re4xQLZ6pRPv2sqXnK8CCvGn 1 */