@import url("https://fonts.cdnfonts.com/css/opendyslexic");

/* Application des règles de police */
::selection {
  background-color: #3f3d56;
  color: aliceblue;
}

button[aria-pressed="true"]:not([disabled]) {
  background-color: #3f3d56;
}

h1,
h5,
h4,
h2 {
  display: inline-block;

  background: linear-gradient(
      to top,
      transparent 10%,
      rgba(228, 156, 43, 0.8) 5%,
      rgba(228, 156, 43, 0.8) 15%,
      rgba(228, 156, 43, 1) 60%,

      transparent 30%
    )
    no-repeat;
}

* {
  font-family: "OpenDyslexic", sans-serif !important;
}

body {
  margin: 0%;
}

h2 {
  font-family: "OpenDyslexic3", sans-serif !important;
}

p {
  font-family: "OpenDyslexicAlta", sans-serif !important;
}

code {
  font-family: "OpenDyslexicMono", sans-serif !important;
}
