@import url("https://fonts.cdnfonts.com/css/opendyslexic");

/* Configuration de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "OpenDyslexic", sans-serif !important;
}
/* Ajout de marges par défaut à gauche et à droite */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

/* Centrage horizontal */
@media (min-width: 640px) {
  body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
