body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.round{
    background: white;
    border: 1px solid black;
    border-radius:100%;
    color: #86C232;
    padding: 10%;
    display: flex;
    margin: 3%;
}
.stars {
	margin: 50px;
	text-align: center;
}

.stargrey {
	color: #96969d;
}

.yellow {
	color: #fedc18;
}

.star:hover {
	cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* s11re4xQLZ6pRPv2sqXnK8CCvGn 1 */